* {
    padding: 0;
    margin: 0;
    color: white;
}

.top-content {
    background-image: url(nav-background.jpg);
    position: fixed;
    width: 100%;

}

.nav-bar {
    padding: 8px 0;
    display: flex;
    justify-content: space-around;
    margin-bottom: 40px;
    font-family: "Edu AU VIC WA NT Pre", cursive;
    font-optical-sizing: auto;
    font-weight: weight;
    font-style: normal;
}

.heading>h1 {
    display: inline;
    font-family: "Poppins", serif;
    font-weight: 200;
    font-style: normal;

}

.nav-bar-links {

    display: flex;


}

.nav-bar-link {
    margin: 10px 15px;
    display: flex;
}

.nav-bar-link>a {
    text-decoration: none;

}



@import url('https://fonts.googleapis.com/css2?family=Bokor&display=swap');



.sign-up-button>button {
    background: transparent;
    padding: 10px 25px;
    border: solid 1px;
    border-color: rgb(255, 255, 255);
    border-radius: 25px;

}

.content {
    margin-top: 12%;
    margin-left: 10%;
}

.text-content h2 {
    font-family: "Bokor", serif;
    font-weight: 100;
    font-size: 60px;
    font-style: normal;
}

.icon>i {
    padding-right: 10px;
}

.text-content p {
    font-family: "Bokor", serif;
    font-weight: 100;
    font-size: 25px;
    font-style: normal;
}

.container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    background-color: rgb(34, 34, 54);
    margin: 5%;
    padding: 20px;
    border-radius: 20px;
}

.container>div {
    flex-basis: 15%;
    background-color: rgb(60, 60, 94);
    border-radius: 30px;
    text-align: center;
}

.content>.icon {
    margin: 20px;
}

.container>div {
    padding: 20px;
}

.adults>p,
.children>p {
    margin-top: 10px;
    font-size: 20px;

}

.date,
.month-year {
    padding-left: 10px;
    margin-top: 15px;
}

span {
    padding: 5px 10px;
    border: solid 2px;
    border-radius: 100%;
}

.arrival,
.departure {
    display: flex;
}

.date {
    font-size: 30px;
}

.check-button>button {
    border: none;
    padding: 10px 15px;
    background-color: rgb(7, 238, 96);
    border-radius: 28px;
}



@media screen and (max-width:600px) {

   
}